<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agree_url</key>
	<string>https://static.commafit.com/h5/agreement/comma-agreement.html</string>
	<key>api_version</key>
	<string>v1</string>
	<key>business_phone</key>
	<string>4006559797</string>
	<key>card_url</key>
	<string>https://static.commafit.com/h5/agreement/user-agreement.html</string>
	<key>course_personal_url</key>
	<string>https://static.commafit.com/h5/agreement/pt-agreement.html</string>
	<key>course_team_url</key>
	<string>https://static.commafit.com/h5/agreement/group-agreement.html</string>
	<key>customer_phone</key>
	<string>4006559797</string>
	<key>small_course_team_url</key>
	<string>https://static.commafit.com/h5/agreement/smallgroup-agreement.html</string>
	<key>wechat</key>
	<string>逗号健身</string>
</dict>
</plist>
